In [1]:
import pandas as pd
df = pd.read_csv("/home/deme/Desktop/airbnb_2/data/listings_final.csv")

/tmp/ipykernel_22743/231849929.py:2: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/home/deme/Desktop/airbnb_2/data/listings_final.csv")

In [2]:
df

,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,...,maximum_nights,listing_url,host_is_superhost,host_about,host_response_time,host_response_rate,street,weekly_price,monthly_price,market
0,Quiet Garden View Room & Super Fast WiFi,3159,Daniel,Oostelijk Havengebied - Indische Buurt,52.365755,4.941419,Private room,59,3,248,...,15,https://www.airbnb.com/rooms/2818,True,"Upon arriving in Amsterdam, one can imagine as...",within an hour,100.0,"Amsterdam, North Holland, Netherlands",NaN,"$1,500.00",Amsterdam
1,"Quiet apt near center, great view",3806,Maartje,Westerpark,52.390225,4.873924,Entire home/apt,160,4,42,...,20,https://www.airbnb.com/rooms/3209,False,I am a freelance radio producer and journalist...,within an hour,100.0,"Amsterdam, Noord-Holland, Netherlands",$543.00,"$2,000.00",Amsterdam
2,100%Centre-Studio 1 Private Floor/Bathroom,59484,Alex,Centrum-Oost,52.365087,4.893541,Entire home/apt,80,1,233,...,1000,https://www.airbnb.com/rooms/20168,False,Secondary phone nr. + (Phone number hidden by ...,within a few hours,100.0,"Amsterdam, North Holland, Netherlands",NaN,NaN,Amsterdam
3,Lovely apt in City Centre (Jordaan),56142,Joan,Centrum-West,52.373114,4.883668,Entire home/apt,125,14,1,...,60,https://www.airbnb.com/rooms/25428,False,"We are a retired couple who live in NYC, and h...",within a few hours,100.0,"Amsterdam, North Holland, Netherlands",$650.00,"$2,000.00",Amsterdam
4,"Romantic, stylish B&B houseboat in canal district",97647,Flip,Centrum-West,52.386727,4.892078,Private room,150,2,171,...,730,https://www.airbnb.com/rooms/27886,True,"Marjan works in ""eye"" the dutch filmmuseum, an...",within an hour,100.0,"Amsterdam, North Holland, Netherlands",$810.00,"$2,500.00",Amsterdam
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20025,Family House City + free Parking+garden (160 m2),13399651,Marieke,Watergraafsmeer,52.345999,4.952145,Entire home/apt,340,7,0,...,12,https://www.airbnb.com/rooms/30576148,False,Ik ben Marieke. Woon in Amsterdam Centrum met ...,NaN,NaN,"Amsterdam, Noord-Holland, Netherlands",NaN,NaN,Amsterdam
20026,Home Sweet Home in Indische Buurt,1595885,Evita,Oostelijk Havengebied - Indische Buurt,52.362412,4.932467,Entire home/apt,150,3,0,...,14,https://www.airbnb.com/rooms/30577727,False,"Hy, my name is Evita, i`m from ZÃ¼rich Switzerl...",NaN,NaN,"Amsterdam, Noord-Holland, Netherlands",NaN,NaN,Amsterdam
20027,Amsterdam Cozy apartment nearby center,87866499,Tommaso,Oud-Oost,52.362431,4.926912,Entire home/apt,80,10,0,...,22,https://www.airbnb.com/rooms/30578037,False,NaN,NaN,NaN,"Amsterdam, NH, Netherlands",NaN,NaN,Amsterdam
20028,Home Sweet Home for a Guest or a Couple,1595885,Evita,Oostelijk Havengebied - Indische Buurt,52.363780,4.932493,Private room,55,2,0,...,15,https://www.airbnb.com/rooms/30579673,False,"Hy, my name is Evita, i`m from ZÃ¼rich Switzerl...",NaN,NaN,"Amsterdam, Noord-Holland, Netherlands",NaN,NaN,Amsterdam
20029,Cosy two bedroom appartment near 'de Pijp'!,27212057,Lisa,De Pijp - Rivierenbuurt,52.346911,4.901932,Entire home/apt,220,5,0,...,1125,https://www.airbnb.com/rooms/30580413,False,NaN,NaN,NaN,"Amsterdam, Noord-Holland, Netherlands",NaN,NaN,Amsterdam

In [3]:
from pycaret.regression import *

In [4]:
df.columns

Index(['name', 'host_id', 'host_name', 'neighbourhood', 'latitude',
       'longitude', 'room_type', 'price', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365', 'property_type',
       'accommodates', 'first_review', 'review_scores_value',
       'review_scores_cleanliness', 'review_scores_location',
       'review_scores_accuracy', 'review_scores_communication',
       'review_scores_checkin', 'review_scores_rating', 'maximum_nights',
       'listing_url', 'host_is_superhost', 'host_about', 'host_response_time',
       'host_response_rate', 'street', 'weekly_price', 'monthly_price',
       'market'],
      dtype='object')

In [6]:
df_pred = df.copy()
df_pred_new = df_pred[["neighbourhood","accommodates", "property_type", "room_type", "price", "minimum_nights", "maximum_nights" ]]

In [7]:
df_pred_new.head()

,neighbourhood,accommodates,property_type,room_type,price,minimum_nights,maximum_nights
0,Oostelijk Havengebied - Indische Buurt,2,Apartment,Private room,59,3,15
1,Westerpark,5,Apartment,Entire home/apt,160,4,20
2,Centrum-Oost,2,Townhouse,Entire home/apt,80,1,1000
3,Centrum-West,3,Apartment,Entire home/apt,125,14,60
4,Centrum-West,2,Houseboat,Private room,150,2,730

In [8]:
setup = setup(df_pred_new, target = "price")

In [9]:
best = compare_models()

In [10]:
ridge = create_model("ridge")

In [12]:
tuned_ridge = tune_model(ridge)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [13]:
evaluate_model(tuned_ridge)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ¦

In [14]:
final_ridge_best = finalize_model(tuned_ridge)

In [15]:
save_model(tuned_ridge, "ml_airbnb")

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=FastMemory(location=/tmp/joblib),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['accommodates', 'minimum_nights',
                                              'maximum_nights'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['neighbourhood', 'property_type',
                                              'room_type'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('onehot_encodi...
                  TransformerWrapper(include=['neighbourhood', 'room_type'],
                                     transformer=OneHotEncoder(cols=['neighbourhood',
                                                                     'room_type'],
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('rest_encoding',
                  TransformerWrapper(include=['property_type'],
                                     transformer=TargetEncoder(cols=['property_type'],
                                                               handle_missing='return_nan'))),
                 ('trained_model', Ridge(alpha=9.57, random_state=6352))]),
 'ml_airbnb.pkl')